* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(228, 217, 217);
}

.questionText {
  width: 100%;
}

input {
  padding: 5px;
  margin-top: 10px;
  border-radius: 7px;
  border: 1px solid hsl(0, 8%, 83%);
  outline: 0;
  font-size: 16px;
}

.inputOption {
  width: 100%;
}

.modBtn {
  background-color: #1189eb !important;
  color: white !important;
  border-radius: 10px;
  padding: 10px;
  border-style: none;
}
.modBtn:hover {
  opacity: 0.8;
}

.deleteBtn {
  background-color: #a10c0c !important;
  color: white !important;
  border-radius: 10px;
  padding: 10px;
  border-style: none;
}

.deleteBtn:hover {
  opacity: 0.8;
}
